@font-face{
  font-family : 'Pretendard';
  src : url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-bold.woff2') format('woff2');
  font-weight : bold;
  font-style : normal;
}

.subject {
  /* width: 100%; */
  grid-column: 1/5;
  background: #e4e8ee;
  color: black;
  font-family : 'Pretendard', sans-serif;
  font-weight : bold;
  font-size : 20px;
  height : 4rem;
  line-height : 4rem;
  padding-left : 1.6rem;
  text-align: left;
  font-size: 2.4rem;
}
