.stay-crowd-container {
  width: 960px;
  height: 380px;
  padding-left: 40px;
  position: relative;
}

.stay-header-bar {
  width: 960px;
  height: 40px;
  background-color: #edf1f5;
  display: flex;
  align-items: center;
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: medium;
}

.stay-header-bar span:first-child {
  width: 326.67px; /* 980px / 3 */
  text-align: center;
}

.stay-header-bar span:nth-child(2),
.stay-header-bar span:nth-child(3) {
  width: 326.67px; /* 980px / 3 */
  text-align: center;
}

.stay-list {
  margin-top: 35px;
  font-family: "Pretendard", sans-serif;
  font-size: 20px;
  font-weight: medium;
  height: 305px; /* 380px(전체 높이) - 40px(헤더 높이) - 35px(margin-top) */
  overflow-y: scroll; /* 스크롤 가능하게 설정 */
}

.stay-item {
  display: flex;
  margin-bottom: 10px;
}

.stay-item span {
  width: 326.67px; /* 980px / 3 */
  text-align: center;
}

.sortable-cell {
  width: 326.67px; /* 980px / 3 */
  text-align: center;
  cursor: pointer; /* 마우스 커서 모양 변경 */
  user-select: none; /* 텍스트 선택 방지 */
}

.tbdytxt {
  font-size: 2rem;
}
