.body {
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #2b83ba; /* 배경색 설정 */
}

.heatmap-container {
  width: 100%;
  position: relative;
  margin: auto;
  background-color: #2b83ba;
  display: flex;
  flex-direction: column;
  align-items: center; /* 수직 가운데 정렬 */
  justify-content: center;
  height: 100vh; /* 전체 화면 높이를 차지 */
}

.heatmap-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.exhibition-dropdown {
  margin-right: 220px;
}

.hour-minute-dropdowns {
  display: inline-block;
  margin-left: 10px; /* 시간과 분 드롭다운 버튼 사이의 간격 조정 */
}

.heatmap-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.heatmap-legend {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.heatmap-legend .legend-title {
  font-weight: bold;
  margin-bottom: 5px;
}

.heatmap-legend .legend-scale {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.heatmap-legend .legend-scale .legend-value {
  margin: 0 5px;
}

.heatmap-legend .legend-gradient {
  width: 100%;
  height: 10px;
  background: linear-gradient(
    to right,
    #d7191c,
    #fdae61,
    #ffffbf,
    #abdda4,
    #2b83ba
  );
}
#select {
  color: white;
  width: 10rem;
  height: 36px;
  background: #2b83ba;
  font-family: Pretendard;
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: height 0.4s; /* 높이 변화에 대한 애니메이션 설정 */
}

.heatmapcon {
  display: flex;
  justify-content: center;
  align-items: center; /* 수직 가운데 정렬 */
  height: 100%; /* 부모 컨테이너의 전체 높이를 차지 */
}

.selectCon {
  display: flex;
  font-size: 2rem;
  color: white;
  align-items: center;
}

.colon {
  margin-left: 2rem;
}

#selectEx {
  margin-top: 50px;
  color: white;
  /* height: 100%; */
  background: #2b83ba;
  font-family: Pretendard;
  font-size: 5rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;
  transition: height 0.4s; /* 높이 변화에 대한 애니메이션 설정 */
}

