.date-picker {
  position: relative;
  z-index: 1001; /* 날짜 선택기가 다른 요소들보다 위에 나타나도록 함 */
  margin-bottom: 10px;
  width : 11%;
  height: 4.7%; /* 50px */
  padding-left: 10%;
  border-radius: 10px;
}

.datepick {
  width : 280%;
  height: 4.7%; /* 50px */
  font-size: 2rem;
  padding: 8px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
}

.calendar {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1002; /* 캘린더가 다른 요소들보다 위에 나타나도록 함 */
  border-radius: 10%; /* 8px based on 1920x1080 resolution */
}

.header {
  font-weight: bold;
  text-align: center;
  padding: 8px;
  font-size: 12px; /* 글꼴 크기 변경 */
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-button,
.close-button {
  background: none;
  border: none;
  font-size: 12px;
  cursor: pointer;
  border-radius: 10%; /* 8px based on 1920x1080 resolution */
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day {
  padding: 8px;
  text-align: center;
  cursor: pointer;
  font-size: 12px; /* 글꼴 크기 변경 */
}

.day:hover {
  background-color: #f0f0f0;
  border-radius: 10%; /* 8px based on 1920x1080 resolution */
}
