body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  background-color: rgb(239, 242, 248);
  user-select: none;
}

header {
  padding-right: 240px; /* 오른쪽 패딩 240px 추가 */
}

.content {
  padding-left: 300px; /* 왼쪽 마진 240px */
  padding-right: 170px; /* 오른쪽 마진 120px */
  width: calc(100% - 500px); /* 좌우 마진 300px + 220px 제외한 너비 */
  margin: 0 auto; /* 가운데 정렬 */
}

.fullWidth {
  width: 100%;
}

.fitWidth {
  width: fit-content;
}

#title {
  font-size: 30px;
  margin-bottom: 16px;
  padding-top: 3px;
  display: flex;
  align-items: center;
}

.thirdTitle {
  margin-right: 5rem;
}

.dropdownContainer {
  position: fixed;
  width: 5.4083%; /* 100px */
  border-radius: 10%;
}

.calendarIcon {
  position: fixed; /* 페이지의 스크롤에 영향을 받지 않도록 설정 */
  bottom: 1.8519%; /* 20px */
  right: 1.0417%; /* 20px */
  z-index: 2; /* 다른 요소들보다 위에 표시되도록 설정 */
  width: 2.6042%; /* 50px */
}

.calendarIcon img {
  width: 2.8042%; /* 50px */
  height: 4.7%; /* 50px */
  cursor: pointer;
}

.exhibitionSelect {
  display: flex;
  margin: 3rem;
  padding: 4px;
  font-size: 2rem;
  border-radius: 5px;
  align-items: start;
}

.exhibitionSelect select {
  padding: 7px;
  border: none;
  font-size: 2rem;
  border-radius: 1rem;
  transition: max-height 0.5s ease-in-out;
}

.exhibitionSelect select option {
  transition: font-size 0.3s ease, background-color 0.3s ease, color 0.3s ease;
  background-color: transparent;
  color: black;
}

.exhibitionSelect select option:hover {
  font-size: 2.2rem;
  background-color: #555555; /* 짙은 회색 */
  color: white;
}

@keyframes slide-fade-in-dropdown-animation {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.slide-fade-in-dropdown {
  overflow: hidden;
}

.slide-fade-in-dropdown > ul {
  animation: slide-fade-in-dropdown-animation 3s ease-in-out;
}

@keyframes slide-fade-out-dropdown-animation {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}

.slide-fade-out-dropdown {
  overflow: hidden;
}

.slide-fade-out-dropdown > ul {
  animation: slide-fade-out-dropdown-animation 3s ease-in-out;
  animation-fill-mode: forwards;
}

.components-dropdown > ul {
  position: relative;
  top: 10%; /* 5px */
  margin-top: 0;
  margin-bottom: 0.2604%; /* 5px */
  padding-left: 0;
  list-style: none;
}

.gridcontent {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  width: 100%;
  gap: 2.0833%; /* 40px */
  text-align: center;
}

.gridcontent2 {
  display: grid;
  grid-template-columns: repeat(4, 23%);
  gap: 2.0833%; /* 40px */
  text-align: center;
  font-size: medium;
  position: relative;
  bottom: 3.7037%; /* 40px */
}

.dinfoBox {
  width: 7.8125%; /* 150px */
  height: 14.8148%; /* 160px */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.half {
  margin-right: 2rem;
  padding-right: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.grid2row {
  background: rgb(255, 255, 255);
  padding: 0 26.0417% 16.6667% 26.0417%; /* 5rem */
}

.griditem {
  padding: 1rem;
}

.SecondRaw {
  display: flex;
  width: 100%;
}

.row1 {
  margin-top: 40px;
}

.row2,
.row3,
.row5 {
  width: 100%;
}

.row3 {
  width: 100%;
}

.row5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.0417%; /* 20px */
}

.hcontainer {
  display: flex;
  width: 100%;
}

.hcenter {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  padding-left: 0.4167%; /* 8px */
}

.hcenterdanger {
  margin-left: 1.0417%; /* 20px */
}

.graphContainer {
  height : 100%;
  width: 100%;
  margin-bottom: 50px;
}

.txt {
  margin: 5rem;
}

.genderbar {
  font-size: 2rem;
  align-items: center;
}

.shiftDown {
  font-size: 2rem;
  text-align: center;
}

.header {
  display: flex;
  align-items: start;
}

.lineGraphContainer {
  width: 100%;
  height: 800px;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  justify-content: space-between; /* 요소를 좌우로 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.dangerBarContainer {
  width: 100%;
  height: 800px;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  justify-content: space-between; /* 요소를 좌우로 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.crowdListContainer {
  width: 100%;
  height: 800px;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  justify-content: space-between; /* 요소를 좌우로 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
}

.genderAgeContainer {
  width: 100%;
  height: 800px;
  background-color: #ffffff;
  border-radius: 15px;
  display: flex;
  justify-content: space-between; /* 요소를 좌우로 정렬 */
  align-items: center; /* 수직 가운데 정렬 */
  overflow: hidden;
}
