.bar-graph-container {
    width: 922px;
    height: 450px;
    font-family: 'Pretendard', sans-serif;
  }

  .bar-graph {
    width: 100%;
    height: 400px; /* 또는 원하는 높이로 설정 */
  }
  
  .bar-graph .x-axis path,
  .bar-graph .x-axis line {
    stroke: black;
    stroke-width: 2px;
  }
  
  .bar-graph .y-axis path,
  .bar-graph .y-axis line {
    stroke: black;
    stroke-width: 2px;
  }