.dropdown {
  position: relative;
  display: inline-block;
}

.dropdownButton {
  background-color: #B4C4D6;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 400;
  border: none;
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100px;
  padding: 0;
  margin: 0;
  list-style-type: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 0 0 5px 5px;
}

.dropdownMenu li {
  padding: 5px 10px;
  cursor: pointer;
}

.dropdownMenu li:hover {
  background-color: #f0f0f0;
}
